.appSignLog {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.signLogContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
