.DashboardCreate {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.DashboardCreateItem {
  max-width: 180px;
  height: 180px;
  width: 100%;
  padding: 20px 30px;
  border: 1px solid transparent;
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
}

.DashboardCreateItem:hover {
  border: 1px solid #217346;
  background-color: rgba(237, 235, 233, 0.5);
}

.DashboardCreateItemIcon {
  position: relative;
  width: 112px;
  height: 82px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.DashboardCreateItemIcon::before,
.DashboardCreateItemIcon::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #217346;
  transform: translate(-50%, -50%);
}

.DashboardCreateItemIcon::before {
  width: 4px;
  height: 50px;
}

.DashboardCreateItemIcon::after {
  width: 50px;
  height: 4px;
}

.DashboardCreateItemTitle {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #252423;
  transition: 0.4s;
}

.DashboardCreateItem:hover .DashboardCreateItemTitle {
  color: #217346;
}

.folderHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.upload {
  position: relative;
}

.uploadInput {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
}

.uploadBtn {
  margin-top: 0;
}

.file {
  position: relative;
  max-width: 180px;
  height: 180px;
  width: 100%;
  margin: 0 10px 20px 10px;
  padding: 16.1px;
  border: 1px solid transparent;
  text-align: center;
}

.fileTitle {
  width: 100%;
  font-size: 16px;
  color: #252423;
  text-align: center;
  line-height: 1.875;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fileIcon {
  width: 120px;
  height: 90px;
}

.fileDownloadWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.35);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  cursor: pointer;
}

.file:hover .fileDownloadWrap {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.fileDelete {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  opacity: 0.7;
  transition: 0.4s opacity;
  transform: rotate(45deg);
  cursor: pointer;
}

.fileDelete:hover {
  opacity: 1;
}

.fileDelete::before,
.fileDelete::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}

.fileDelete::before {
  width: 3px;
  height: 15px;
}

.fileDelete::after {
  height: 3px;
  width: 15px;
}

.filesPlug {
  margin-left: 10px;
}

.folderForm {
  margin-top: 40px;
}

.formGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.formLabel {
  position: relative;
  display: flex;
  flex-direction: column;
}

.formLabel1 {
  width: 100%;
  order: 1;
}

.formTextarea {
  min-height: 300px;
  resize: none;
}

.formSpan {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .formLabel {
    width: 100%;
  }

  .formLabel1 {
    order: 0;
  }
}
